# Entorno del proyecto: "development", "staging" o "production"
NODE_ENV=
PORT=3000

# Conexión a Supabase usando pool de conexiones
DATABASE_URL="postgresql://postgres.<project-ref>:<password>@aws-0-<region>.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

# Conexión directa a la base de datos (usada para migraciones)
DIRECT_URL="postgresql://postgres.<project-ref>:<password>@aws-0-<region>.pooler.supabase.com:5432/postgres"

# JWT
JWT_SECRET="placeholder"
JWT_EXPIRES_IN="7d"